[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/blackburn"]
	path = themes/blackburn
	url = https://github.com/yoshiharuyamashita/blackburn.git
[submodule "themes/hugo-geekblog"]
	path = themes/hugo-geekblog
	url = https://github.com/thegeeklab/hugo-geekblog.git
[submodule "themes/hugo-theme-yinyang"]
	path = themes/hugo-theme-yinyang
	url = https://github.com/joway/hugo-theme-yinyang.git
